{% block content %}
  <h2>Change your password</h2>
    <div class="error_message">
        {{error}}
    </div>

    <form method="POST">
        {% csrf_token %}
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric. </li>
        </ul>
        <div class="password_form_text"> New Password</div>
        <div class="input_container">
            <input class="login_input" name="password1" type="password">
        </div>
        <div class="confirm_password_form_text">Confirm Password</div>
        <div class="input_container">
            <input class="login_input" name="password2" type="password">
        </div>
        </div>
        <div class="login_btn_container">
            <input type="submit" class="login_btn" value="change">
        </div>
        </div>

    </form>
{% endblock %}